*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  font-family: monospace; }

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #b69558;
  padding: 1.5rem;
  border-radius: 10px;
  width: 400px; }
  .heading__logo {
    height: 40px; }

.balance__text {
  font-weight: 200; }

.balance__num {
  font-size: 1.5rem;
  margin-top: 0.5rem; }

.main {
  width: 400px;
  padding: 1.5rem;
  background-color: white;
  margin-top: 1.5rem;
  border-radius: 10px; }
  .main__graph {
    display: flex;
    margin: 2rem 0;
    justify-content: stretch; }
    .main__graph__column {
      flex: 1;
      text-align: center;
      display: flex;
      flex-direction: column-reverse;
      justify-content: end;
      align-items: center; }

.bar {
  width: 35px;
  height: 100px;
  background-color: #41a141;
  border-radius: 5px;
  margin: 5px 0; }

.bar:hover {
  background-color: #a3a3e0; }

.price {
  background-color: #252525;
  color: white;
  border-radius: 2px;
  visibility: hidden;
  width: 100%;
  padding: 5px;
  font-size: 0.8rem; }

.bar:hover + .price {
  visibility: visible; }
